* {
    font-family: 'Poppins', sans-serif;
}
.content {
        display: flex;
            flex-direction: column;
            display: flex;
            justify-content: start;
            height: 100%;
            padding: 10px 20px;
    .form {
        div {
            a{
                font-size: 12px;
            }
        }
    }
}