<ion-header>
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Serie TV</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-header>

<ion-content>

  @defer (when !isLoading){
  <ion-list class="content-list">
    <ion-grid>
      <ion-row class=" ion-padding-horizontal">
        <ion-col>
          <p>Serie TV</p>
        </ion-col>
        <ion-col size="1.7">
          <p>Voto</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    @for( item of movies; track item.id) {
    <ion-item button [routerLink]="['/details', item.id]">
      <ion-avatar slot="start">
        <img [src]="imageBaseUrl + '/w92' + item.poster_path" alt="poster" />
      </ion-avatar>
      <ion-badge color="danger" slot="end">{{ roundVoteAverage(item.vote_average) }}</ion-badge>
      <ion-label class="ion-text-wrap">
        <h3>{{ item.name }}</h3>
        <!-- prendi solo year -->
        <p> {{ item.release_date | date: 'y' }}</p>
      </ion-label>
    </ion-item>

    } @empty { @if(!isLoading) {
    <ion-item lines="none">
      <ion-label class="ion-text-center">Nessun film trovato</ion-label>
    </ion-item>
    }}
  </ion-list>
  } @loading(minimum 2s){
  <app-transition></app-transition>
  }



</ion-content>